# === PYTHON / ENV ===
__pycache__/
*.pyc
.venv/
venv/
.env
.vscode/
.idea/

# === STREAMLIT ===
.streamlit/

# === DATA / ARTIFACTS ===
artifacts_local/
mlflow_results/
models/
data/cache/
data/raw/
*.parquet
*.pkl
*.pt
*.joblib
*.npz
*.npy
*.bin
*.onnx
*.ckpt
*.log
*.jsonl
*.gz
*.zip
mlruns/
artifacts_week2_3/xgb_*.json
artifacts_week2_3/*scaler*.pkl
artifacts_week2_3/lstm_*.pt

# === OS ===
.DS_Store

# === NOTEBOOKS ===
.ipynb_checkpoints/
